<!doctype html>
  <head>
    <span style="font-family:Arial">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>Object Recognition</title>
</head>
<body>
  <center>
  <h1><img src="http://icons.iconarchive.com/icons/google/noto-emoji-travel-places/512/42598-rocket-icon.png" width=35>Object Recognition</h1>
  <h2>Artificial Intelligence - KHTN2017</h2>
  <form method=post enctype=multipart/form-data>
    <p><input type=file name=file>
       <input type=submit value=Upload>
  </form>
  {% block body %}{% endblock %}
  <br>_______________________
  <br>This classifier is able to predict these <b>10 classes</b>:
  <br> [1]<b>Airplane</b>  [2]<b>Automobile</b>  [3]<b>Bird</b>  [4]<b>Cat</b>  [5]<b>Deer</b>
  <br> [6]<b>Dog</b>  [7]<b>Horse</b>  [8]<b>Ship</b>  [9]<b>Truck</b>  [10]<b>Frog</b> 
